.container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  width: auto;
  height: 1000px;
  flex-direction: column;
  background-color: black;
}
.instagram {
  width: 500px;
  margin: auto;
  height: 650px;
  background-color: white;
  margin-top: 10%;
}
.head-icons {
  display: flex;
  height: 65px;
}
.icon-left {
  font-size: 30px;
  margin: 3%;
}
.text {
  font-size: small;
}

.icon-right {
  font-size: 30px;
  margin: 10px;
  margin-left: auto;
  padding: 2%;
}
.body-left {
  font-size: 30px;
  margin-right: auto;
  padding: 5px;
}
.body-right {
  font-size: 30px;
  padding: 5px;
}
.body-icons {
  display: flex;
  padding: 10px;
}
.comment {
  text-align: left;
  padding: 10px;
}
img {
  width: 500px;
}
p {
  margin: 0;
}
